<h2 mat-dialog-title>Add Employee Details</h2>
<mat-dialog-content>
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="empname">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput required [(ngModel)]="empemail">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="add_Emp()">Save</button>
    <button mat-button mat-dialog-close>Close</button>

</mat-dialog-actions>